# ===== Flutter 관련 =====
.dart_tool/
.packages
.flutter-plugins
build/
ios/Pods/
android/.gradle/
.idea/
.vscode/
pubspec.lock

# ===== Java / Spring 관련 =====
*.class
target/
*.jar
*.war
*.iml
*.log
.env
out/
.gradle/

# IDE
*.swp
*.bak
*.tmp
*.DS_Store

# 실수로 생성된 명령어 출력 파일들
tatus*
how*
hell*
